.App {
  position: relative;
  height: 50vh;
  width: 27vw;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: var(--primary-bg-variant-color);
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

h2{
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input{
  height: 1rem;
  border-radius: 0.5rem;
  background: var(--secondary-bg-variant-color);
  color: var(--secondary-color);
  outline: none;
  padding: 0.6rem;
  border: 0;
  max-width: 80%;
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
}

input:focus{
  box-shadow: 0 0.01rem 0.3rem rgb(0 0 0 / 20%);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

button{
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

button.copied {
  background-color: var(--secondary-color);
  color: var(--primary-color);  
}

.shorten__link{
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--secondary-color);
  text-decoration: none;
}

.loading{
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  color: var(--secondary-color);
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) =============*/
@media screen and (max-width: 1024px){
  .App{
    height: 40vh;
    width: 55vw;
  }
  h2{
    font-size: 2rem;
    font-weight: 500;
  }
  .shorten__link{
    font-size: 1.3rem;
  }
  
  .loading{
    font-size: 1.2rem;
  }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) =============*/
@media screen and (max-width: 600px){
  .App{
    height: 40vh;
    width: 70vw;
  }
  h2{
    font-size: 1.8rem;
    font-weight: 600;
  }
  .shorten__link{
    font-size: 1rem;
  }
  
  .loading{
    font-size: 1rem;
  }
}